<h1>Listing emirates</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for emirate in @emirates %>
  <tr>
    <td><%=h emirate.name %></td>
    <td><%= link_to 'Show', emirate %></td>
		<td><%= link_to 'Select', :action => "select", :id => emirate.id %>
    <td><%= link_to 'Edit', edit_emirate_path(emirate) %></td>
    <td><%= link_to 'Destroy', emirate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New emirate', new_emirate_path %>
