<h1>Editing property</h1>

<% form_for(@property, :html => { :multipart => true }) do |f| %>
  <%= error_messages_for :property, :property_photo %>
  <p>
    <%= f.label :building_id %><br />
		<% if session[:building_id] && session[:building_name] &&
			session[:project_id] && session[:project_name] &&
			session[:neighborhood_id] && session[:neighborhood_name] &&
			session[:emirate_id] && session[:emirate_name] %> 
    	<%= f.select(:building_id, @property.find_all_buildings(session[:project_id])) %>
		<% else %>
    	<%= f.select(:building_id, @property.find_all_buildings) %>
		<% end %>
  </p>
  <p>
    <%= f.label :type_id %><br />
    <%= f.select(:type_id, @property.find_all_types) %>
  </p>
  <p>
    <%= f.label :bedrooms %><br />
    <%= f.text_field :bedrooms %>
  </p>
  <p>
    <%= f.label :view %><br />
    <%= f.text_field :view %>
  </p>
  <p>
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
	<p>
		<%= f.label :hot %>
		<%= f.check_box :hot %>
		<%= f.label :available %>
		<%= f.check_box :available %>
		<%= f.label :sold %>
		<%= f.check_box :sold %>
	</p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
	<p>
		<%= property_photo_for(@property) %><br />
		<%= label :property, :property_photo %>
		<%= file_field_tag :property_photo_file %>
		<span class="hint">
			We accept JPEG, GIF, or PNG files up to 750 KB.
		</span>
	</p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @property %> |
<%= link_to 'Back', properties_path %>
