<h1>New building</h1>

<% form_for(@building) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project_id %><br />
			<% if session[:project_id] && session[:project_name] &&
				session[:neighborhood_id] && session[:neighborhood_name] &&
				session[:emirate_id] && session[:emirate_name] %>
	    	<%= f.select(:project_id, @building.find_all_projects(session[:neighborhood_id]), :selected => session[:project_id]) %>
			<% else %>
	    	<%= f.select(:project_id, @building.find_all_projects) %>
			<% end %>
	  </p>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', buildings_path %>
