<% form_for(@inquiry) do |f| %>
  <%= f.error_messages %><br />
	<h3>New inquiry (ref # <%=h @property.id %>)</h3>
	
	<p>For more information please call <strong>+971 50 210 3223</strong> and quote the reference number (ref # <%=h @property.id %>). Or just send us your information using this form and we will contact you.</p>
	
  <p>
		<%= f.hidden_field :property_id, :value => @property.id %>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message, :rows => 5, :cols => 35 %>
  </p>

	<%= show_simple_captcha(:object=>"inquiry") %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
