<div id="search">	
	<% form_tag(:controller => "search") do -%>
				Search for &nbsp;
				<%= select_tag(:type_id, options_for_select(@property_types, session[:param_type_id].to_i)) %>
				&nbsp; in &nbsp;
				<%= text_field_tag :location, params[:location], :value => session[:param_location] %>
				<%= submit_tag "Go" %>
	<% end -%>
	
	<!--
	<h2>&nbsp;Search Properties Online</h2>
	<form action="/search">
		<div id="search-text"><input type="text" size="40" class="text" name="q" value="" id="q" /><input type="submit" name="submit" value="Go &gt; &gt;  " id="submit" class="submit" /></div>
	</form> 

	<%= link_to "Advanced Search", :controller => "search" %> | <%= link_to "Search Tips", :controller => "catalog" %>
-->
</div>