<!--
<div id="topic-pic">
	<img src="/images/pic_1.jpg" width="259" height="199" alt="Pic 1" />
</div>	<p>Type		Flat<br />
	Address		Fl. 8  <br />
	Bedrooms		1 bedroom<br />
	Total Area		993.0   SqFt   92.2   m2<br />
	Dubai, Jumeirah Village, South</p>
<h2>^^^ Featured Project ^^^</h2>
-->	
<table style="width:100%;margin:0;padding:0;" colspan="0">
	
	<% for property in @properties_dubai %>
		<tr style="width:100%;margin:0;padding:0;">
			<td style="margin:0;padding:5px 0 5px 0;border-bottom: 1px solid #c0c0c0;">
				<%= property_photo_for(property, :small, 'tiny') %>
			</td>
			<td style="margin:0;padding:5px 0 5px 0;border-bottom: 1px solid #c0c0c0;">
			<a href="/catalog/<%=h property.id %>">
				<%=h property.area %> sqft <%=h pluralize(property.bedrooms, "bedroom") if(property.bedrooms > 0) -%> <%=h property.find_type_name.downcase -%> in <%=h property.building.project.neighborhood.name %> at <%= number_to_currency(property.price, :unit => "AED ", :precision => 0) %>
			</a><br />
			<%=h truncate(property.description, 72) %>
			</td>
		</tr>
	<% end %>
</table>

