<div id="body-left">
	<div id="topic-pic">
		<%= property_photo_for(@property, :large, 'none') %>
	</div>
	<%= render :partial => "new_inquiry" -%>
</div>
<div id="body-right">
	<p style="color:green"><%= flash[:notice] %></p>
	<p style="color:red"><%= flash[:error] %></p>
	<h2>Property Details</h2>
	<div class="box">
		<p><b>Ref #:</b> <%=h @property.id %><br /><br />
		<table>
			<tr>
				<td><b>Type:</b></td>
				<td><%=h @property.find_type_name %></td>
			</tr>
			<%= "<tr><td><b>Bedrooms:</b></td> <td>#{@property.bedrooms}</td></tr>" if(@property.bedrooms > 0) %>
			<tr>
				<td><b>View:</b></td>
				<td><%=h @property.view %></td>
			</tr>
			<tr>
				<td><b>Area:</b></td>
				<td><%=h @property.area %> sqft (aprox. <%=h @property.area_in_sqm %> sqm)</td>
			</tr>
			<tr>
				<td><b>Price:</b></td>
				<td><%= number_to_currency(@property.price, :unit => "AED ", :precision => 0) %></td>
			</tr>
			<tr>
				<td><b>Average:</b></td>
				<td><%= number_to_currency(@average_price, :unit => "AED ", :precision => 0) %> in <%=h @property.building.project.neighborhood.name %></td>
			</tr>			
			<tr>
				<td><b>Address:</b></td>
				<td>
					<% if @property.building.name != @property.building.project.name %>
						<%=h @property.building.name %>,
					<% end %>
					<%=h @property.building.project.name %>,
					<%=h @property.building.project.neighborhood.name %>,
					<%=h @property.building.project.neighborhood.emirate.name %>
				</td>
			</tr>
			<tr>
				<td><b>Updated:</b></td>
				<td><%=h time_ago_in_words(@property.updated_at) %> ago</td>
			</tr>
		
			<% if @property.description.length > 0 %>
			<tr>
				<td colspan="2"><br /><b>Description:</b></td>
			</tr>
			<tr>
				<td colspan="2"><%= @property.description %></td>
			</tr>
			<% end %>
		</table>
		
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
