<h1>Listing inquiries</h1>

<table>
  <tr>
		<th>Ref #</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Message</th>
    <th>Status</th>
  </tr>

<% for inquiry in @inquiries %>
  <tr>
		<td style="text-align:right;"><%= link_to "#{inquiry.property_id}", :controller => "follow_up", :action => "property", :id => "#{inquiry.property_id}" %></td>
    <td><%=h inquiry.name %></td>
    <td><%=h inquiry.phone %></td>
    <td><%=h inquiry.email %></td>
    <td><%=h inquiry.message %></td>
    <td><%=h inquiry.status %></td>
    <td><%= link_to 'Show', inquiry %></td>
    <td><%= link_to 'Edit', edit_inquiry_path(inquiry) %></td>
    <td><%= link_to 'Destroy', inquiry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New inquiry', new_inquiry_path %>
