<h1>New inquiry</h1>

<% form_for(@inquiry) do |f| %>
  <%= f.error_messages %>
	<p>
    <%= f.label :property_id %><br />
    <%= f.text_field :property_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>

	<%= show_simple_captcha(:object=>"inquiry") %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', inquiries_path %>
