<% if @property %>

	<h1>Follow up</h1>

	<p>
	  <b>Photo:</b><br />
	  <%= property_photo_for(@property) %>
	</p>

	<p>
	  <b>Building:</b>
	  <%=h @property.building_id %>
	</p>

	<p>
	  <b>Type:</b>
	  <%=h @property.type_id %>
	</p>

	<p>
	  <b>Bedrooms:</b>
	  <%=h @property.bedrooms %>
	</p>

	<p>
	  <b>View:</b>
	  <%=h @property.view %>
	</p>

	<p>
	  <b>Area:</b>
	  <%=h @property.area %>
	</p>

	<p>
	  <b>Price:</b>
	  <%=h @property.price %>
	</p>

	<p>
	  <b>Url:</b>
	  <%=h @property.url %>
	</p>
	
	<p>
		<b>Status:</b>
		Hot: <%= check_box_tag :hot, :hot, @property.hot, :disabled => true %>
		Available: <%= check_box_tag :available, :available, @property.available, :disabled => true %>
		Sold: <%= check_box_tag :sold, :sold, @property.sold, :disabled => true %>
	</p>

	<p>
	  <b>Description:</b>
	  <%=h @property.description %>
	</p>
	
<% else %>
	<p>Wrong reference no.</p>
<% end %>

